@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: rgb(230, 20, 52);
    --primary-foreground: rgb(255, 255, 255);
    --secondary: rgb(255, 255, 255);
    --secondary-foreground: rgb(0, 0, 0);
    --muted: rgb(245, 245, 245);
    --muted-foreground: rgb(150, 150, 150);
  }

  /* スクロールバーのガタガタをなくす */
  html {
    scrollbar-gutter: stable;
  }
}

